 <!-- ============================================================== -->
          <!-- Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <div class="page-breadcrumb">
            <div class="row">
              <div class="col-12 d-flex no-block align-items-center">
                <div class="ms-auto text-end">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Library
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- ============================================================== -->
          <!-- End Bread crumb and right sidebar toggle -->
          <!-- ============================================================== -->
          <!-- ============================================================== -->
          <!-- Container fluid  -->
          <!-- ============================================================== -->
          <div class="container-fluid">
          <center><img
                    src="../static/assets/images/Campocauca.png"
                  
                    clas="rounded-circle"
                    width="250"
                    heigth="250"
                  /></center>
            <!-- ============================================================== -->
            <!-- Sales Cards  -->
            <!-- ============================================================== -->
            <div class="row">
              <!-- Column -->
             <!-- <div class="col-md-6 col-lg-2 col-xlg-3">
                <div class="card card-hover">
                  <div class="box bg-cyan text-center">
                    <h1 class="font-light text-white">
                      <i class="mdi mdi-view-dashboard"></i>
                    </h1>
                    <a href="{% url 'administracion:leerca' %}">
                      </h1>
                      <h6 class="text-white">Categoria</h6>
                    </a>
                  </div>
                </div>
              </div>-->
               

              <center><h3> Descripción </h3></center>
               <h4> Campo Cauca es una iniciativa dedicada a modernizar el sector agrícola del departamento del Cauca 
              mediante el desarrollo de una plataforma de venta en línea. Nos esforzamos por cerrar la brecha tecnológica
              en el comercio agrícola, proporcionando a productores y consumidores una solución integral que maximiza 
              la eficiencia, seguridad y satisfacción del cliente. Nuestro objetivo es impulsar el crecimiento 
              económico y la sostenibilidad en la región, posicionando al Cauca como líder en el comercio en línea y 
              aprovechando al máximo las ventajas que ofrece la tecnología para el progreso de nuestra comunidad. </h4>

              <center><h3> Misión </h3></center>
              <h4> Facilitar la transición del sector agrícola del departamento del Cauca al entorno digital 
              mediante el desarrollo e implementación de una plataforma de venta en línea, brindando una 
              experiencia de compra eficiente y segura para productores y consumidores, y promoviendo así el 
              crecimiento económico y la sostenibilidad en la región.</h4>

              <center><h3> Visión </h3></center>
              <h4> Convertirnos en la principal plataforma de comercio en línea para el sector agrícola del Cauca, 
              reconocida por su innovación, eficiencia y contribución al desarrollo económico y social de la región, 
              generando oportunidades para productores y mejorando la calidad de vida de la comunidad.</h4>

            </div>
           
            <!-- ============================================================== -->
            <!-- Sales chart -->
            <!-- ============================================================== -->